/***************** Fonts css ******************/
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans/OpenSans.eot?') format('eot'), 
	     url('../fonts/OpenSans/OpenSans.woff') format('woff'), 
	     url('../fonts/OpenSans/OpenSans.ttf')  format('truetype'),
	     url('../fonts/OpenSans/OpenSans.svg#OpenSans') format('svg');
	font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Roboto-regular';
	src: url('../fonts/Roboto-Regular/Roboto-Regular.eot?') format('eot'), 
	     url('../fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'), 
	     url('../fonts/Roboto-Regular/Roboto-Regular.ttf')  format('truetype'),
	     url('../fonts/Roboto-Regular/Roboto-Regular.svg#Roboto-Regular') format('svg');
	font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-light';
    src: url('../fonts/Roboto-light/roboto-light-webfont.eot');
    src: url('../fonts/Roboto-light/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-light/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/Roboto-light/roboto-light-webfont.woff') format('woff'),
         url('../fonts/Roboto-light/roboto-light-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-light/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}